.clock-card{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgb(22, 115, 190);
    color:white;
    height:300px ;
    width: 800px;
    font-size:40px;
    
}
.time{
    background: black;
    border-radius: 20px;
    height: 200px;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
    
 
}
.date{
    font-size: 30px;
    gap:40px;
}
.date h1{
text-align: center;
}
#day{
    text-align: center;
}
#month{
    text-align: center;
}